.infoBar {
	padding: 15px 220px 15px 190px;
	background-color: var(--color-gray-200);
}

.infoWrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.trendScoreBox {
	width: 473px;
	height: 110px;
}
