.label {
	border: 0px none;
}

.label .logo {
	color: #1eb4e4;
	font-family: "Poppins-SemiBold", Helvetica;
	font-size: 35px;
	font-weight: 600;
	left: 0;
	letter-spacing: 0;
	line-height: normal;
	position: fixed;
	top: 0;
}
